USE [master]
GO
/****** Object:  Database [QuanLyDoGo]    Script Date: 09/26/2018 10:16:31 ******/
CREATE DATABASE [QLDoGo]
GO
USE [QLDoGo]
GO
/****** Object:  Table [ChiTietDonHang]    Script Date: 11/18/2018 3:20:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [ChiTietDonHang](
	[MaHang] [char](10) NOT NULL,
	[MaDonHang] [char](10) NOT NULL,
	[SlMua] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC,
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [DonHang]    Script Date: 11/18/2018 3:20:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [DonHang](
	[MaDonHang] [char](10) NOT NULL,
	[MaTaiKhoan] [char](10) NOT NULL,
	[TenKH] [nvarchar](30) NOT NULL,
	[DiachiKH] [nvarchar](10) NOT NULL,
	[SDT] [nvarchar](11) NOT NULL,
	[NgayDatMua] [datetime] NOT NULL,
	[TongTien] [int] NOT NULL,
	[TinhTrang] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [HangHoa]    Script Date: 11/18/2018 3:20:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [HangHoa](
	[MaDanhMuc] [char](10) NOT NULL,
	[MaHang] [char](10) NOT NULL,
	[TenHang] [nvarchar](50) NOT NULL,
	[Slco] [int] NULL,
	[Gia] [int] NOT NULL,
	[MoTa] [ntext] NULL,
	[Anh] [text] NOT NULL,
	[BaoHanh] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [QuanLyDanhMuc]    Script Date: 11/18/2018 3:20:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [QuanLyDanhMuc](
	[MaDanhMuc] [char](10) NOT NULL,
	[TenDanhMuc] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [TaiKhoan]    Script Date: 11/18/2018 3:20:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [TaiKhoan](
	[MaTaiKhoan] [char](10) NOT NULL,
	[TenTaiKhoan] [nvarchar](30) NOT NULL,
	[SoDienThoai] [nvarchar](11) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](20) NOT NULL,
	[QuyenTaiKhoan] [nvarchar](20) NOT NULL,
	[TinhTrang] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [ChiTietDonHang] ([MaHang], [MaDonHang], [SlMua]) VALUES (N'BA001     ', N'DH45491   ', 2)
INSERT [ChiTietDonHang] ([MaHang], [MaDonHang], [SlMua]) VALUES (N'BA001     ', N'DH46171   ', 2)
INSERT [ChiTietDonHang] ([MaHang], [MaDonHang], [SlMua]) VALUES (N'BA001     ', N'DH47581   ', 1)
INSERT [DonHang] ([MaDonHang], [MaTaiKhoan], [TenKH], [DiachiKH], [SDT], [NgayDatMua], [TongTien],[TinhTrang]) VALUES (N'DH45491   ', N'1', N'a', N'0978564673', N'hn', CAST(N'2018-11-18 00:00:00.000' AS DateTime), 73000000,N'đang xử lý')
INSERT [DonHang] ([MaDonHang], [MaTaiKhoan], [TenKH], [DiachiKH], [SDT], [NgayDatMua], [TongTien],[TinhTrang]) VALUES (N'DH46171   ', N'1', N'a', N'0978564673', N'hn', CAST(N'2018-11-18 00:00:00.000' AS DateTime), 73000000,N'hoàn thành')
INSERT [DonHang] ([MaDonHang], [MaTaiKhoan], [TenKH], [DiachiKH], [SDT], [NgayDatMua], [TongTien],[TinhTrang]) VALUES (N'DH47581   ', N'1', N'a', N'0978564673', N'hn', CAST(N'2018-11-18 00:00:00.000' AS DateTime), 6500000,N'hoàn thành')
INSERT [QuanLyDanhMuc] ([MaDanhMuc], [TenDanhMuc]) VALUES (N'DM01      ', N'SALON GỖ')
INSERT [QuanLyDanhMuc] ([MaDanhMuc], [TenDanhMuc]) VALUES (N'DM02      ', N'KỆ TIVI GỖ')
INSERT [QuanLyDanhMuc] ([MaDanhMuc], [TenDanhMuc]) VALUES (N'DM03      ', N'TỦ QUẦN ÁO GỖ')
INSERT [TaiKhoan] ([MaTaiKhoan], [TenTaiKhoan], [SoDienThoai], [DiaChi], [MatKhau], [QuyenTaiKhoan], [TinhTrang]) VALUES (N'1         ', N'a', N'0978564673', N'hn', N'12345', N'member', 0)
ALTER TABLE [ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([MaDonHang])
REFERENCES [DonHang] ([MaDonHang])
GO
ALTER TABLE [ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([MaDonHang])
REFERENCES [DonHang] ([MaDonHang])
GO
ALTER TABLE [ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([MaHang])
REFERENCES [HangHoa] ([MaHang])
GO
ALTER TABLE [ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([MaHang])
REFERENCES [HangHoa] ([MaHang])
GO
ALTER TABLE [DonHang]  WITH CHECK ADD FOREIGN KEY([MaTaiKhoan])
REFERENCES [TaiKhoan] ([MaTaiKhoan])
GO
ALTER TABLE [DonHang]  WITH CHECK ADD FOREIGN KEY([MaTaiKhoan])
REFERENCES [TaiKhoan] ([MaTaiKhoan])
GO
ALTER TABLE [HangHoa]  WITH CHECK ADD FOREIGN KEY([MaDanhMuc])
REFERENCES [QuanLyDanhMuc] ([MaDanhMuc])
GO
ALTER TABLE [HangHoa]  WITH CHECK ADD FOREIGN KEY([MaDanhMuc])
REFERENCES [QuanLyDanhMuc] ([MaDanhMuc])
GO
